bidict==0.23.1
blinker==1.8.2
click==8.1.7
flask==3.0.3
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
flask-sqlalchemy==3.1.1
greenlet==3.0.3
h11==0.14.0
importlib-metadata==7.1.0
itsdangerous==2.2.0
jinja2==3.1.4
ldap3==2.5.1
MarkupSafe==2.1.5
pyasn1==0.6.0
python-engineio==4.9.1
python-socketio==5.11.2
pytz==2024.1
simple-websocket==1.0.0
SQLAlchemy==2.0.30
typing-extensions==4.12.0
werkzeug==3.0.3
wsproto==1.2.0
zipp==3.18.2
