{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<h1 class="text-center">ITS PARTY TIME</h1>
<div class="card-columns">
    {% for card in cards %}
    <div class="card mb-3">
        <div class="card-header">
            <strong>{{ card.author }}</strong>
            <span class="text-muted">
                {{ card.timestamp.strftime('%Y-%m-%d' if card.timestamp.date() < datetime.utcnow().date() else '%H:%M:%S') }}
            </span>
        </div>
        <div class="card-body">
            <p class="card-text">{{ card.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h1 class="text-center">Please log in via the login button in the navbar</h1>
{% endif %}
{% endblock %}
