{% extends "base.html" %}
{% block title %}Message Boards{% endblock %}
{% block content %}
<div>
    {% for group in current_user.groups %}
    <h3><a href="/{{ group }}-chat">{{ group }} Board</a></h3>
    {% endfor %}
</div>
<div>
    {% for card in cards %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ card.author }} - {{ card.timestamp.strftime('%Y-%m-%d %H:%M:%S') }} - {{ card.group }}</h5>
            <p class="card-text">{{ card.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}